/*Estilos UNIVERSALES*/
body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 15px;
    color: black;
}
main {
    width: 50%;
}
.img-principal {
    display: flex;
    float: right;
    width: 200px;
}
header{
    background-image: url(../img/imgtextura.webp);
}
/*Estilos PARTICULARES*/
/*Estilos del HEADER*/
.title {
    font-family: 'Merriweather', serif;
    background-color: #FBEAEB;
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
#titulo-principal {font-size: 35px;}
header, main {
    margin-bottom: 100px;
}
.center {text-align: center;}
div #espacio {
    height: 50px;
    width: 50px;
}
.negrita {font-weight: bold;}
.sin-punto {list-style: none;}
footer {
    text-align: center;
    background-color: #FBEAEB;
    font-size: 20px;
}
.margin {
    margin-left: 75px;
}
.card {
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    background-image: url(../img/photo-1619824130478-2fb945b98ae1.webp);
}